<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - MVCtraining</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    <link href="~/Content/MyDesign/MainDesign.css" rel="stylesheet" />
</head>
<body>
   
    <h1>TECNO UNIVERSITY - ASP.NET MVC TRAINING WEBSITE</h1>

    <nav class="navbar navbar-inverse">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li class="dropdown">
                        <a href="/Home/Index" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Home <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="/Home/About">About</a></li>
                            <li><a href="/Home/Contact">Contact Us</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="/Teacher/Index" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Teachers <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="/Teacher/Index">All Teachers</a></li>
                            <li><a href="/Teacher/InsertTeacher">Add New Teacher</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="/Student/Index" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Students <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="/Student/Index">All Students</a></li>
                            <li><a href="/Student/InsertStudent">Add New Student</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="/Course/Index" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Courses <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="/Course/Index">All Courses</a></li>
                            <li><a href="/Course/InsertCourse">Add New Course</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="/Room/Index" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Rooms <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="/Room/Index">All Rooms</a></li>
                            <li><a href="/Room/InsertRoom">Add New Room</a></li>
                        </ul>
                    </li>
                </ul>
           </div>
      </div>
  </nav>
   

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Techno University by Ahmed.Faioumy</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
